[Unit]
Description=Run DeFiNodeNexus keeper every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true
Unit=definode-keeper.service

[Install]
WantedBy=timers.target